# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [ ]:
import os
import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [ ]:
>>> list = [i for i in range(51)]
print (list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [ ]:
list = [i for i in range(2,201)]
for num in list:
   if num % 2 == 0:
      print(num, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [ ]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [ ]:
list1= []
row_count = len(a)
print (row_count)
column_count= len(a[1])
print (column_count)
for i in range(0, row_count):
  for j in range(0,column_count):
    if a[i][j]>=0:
      list1.append(a[i][j])
print(list1)

10
4
[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [ ]:
 if a[i][j]>=0.5:
      list1.append(a[i][j])
print(list1)

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [ ]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [ ]:
list2= []
row_count = len(b)
print (row_count)
column_count= len(b[1])
print (column_count)
for i in range(0, row_count):
  for j in range(0,column_count):
    if a[i][j]>=0:
      list2.append(a[i][j])
print(list2)

5
2
[0.84062117, 0.48006452, 0.44409793, 0.09014516, 0.7066597, 0.09610873, 0.29960807, 0.42315023, 0.17003563, 0.46843998]

### 5. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [ ]:


for i in range(0, row_count):
  for j in range(0,column_count):
    print(j)
    if(a[i][-1])>=0.5:
      print(a[i][-1])

0
0.77109654
1
0.77109654
0
0.87645456
1
0.87645456
0
0.57433389
1
0.57433389
0
1
0
0.69814654
1
0.69814654

### 6. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [ ]:
lista6=[]
for f_name in os.listdir("/bin/A1"):
  if f_name.endswith("csv"):
    lista6.append(f_name)
print(lista6)

['sample_file_6.csv', 'sample_file_1.csv', 'sample_file_7.csv', 'sample_file_8.csv', 'combined_csv.csv', 'sample_file_9.csv', 'sample_file_4.csv', 'sample_file_3.csv', 'sample_file_2.csv', 'sample_file_5.csv']

### 7. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [ ]:
df=pd.read_csv("/bin/A1/sample_file_1.csv")
df.head

for f_name in os.listdir("/bin/A1"):
  if f_name.endswith("csv"):

<bound method NDFrame.head of           0         1         2  ...        17        18        19
0  0.276827  0.260054  0.942397  ...  0.069162  0.952291  0.286542
1  0.995885  0.158381  0.244274  ...  0.232135  0.549324  0.572232
2  0.641917  0.821055  0.392437  ...  0.430411  0.531757  0.489528
3  0.806532  0.569258  0.148175  ...  0.402791  0.685976  0.246594
4  0.311185  0.501165  0.365979  ...  0.229109  0.022881  0.479022

[5 rows x 20 columns]>

In [ ]:
paths=[]
for i in lista6: 
  paths.append("/bin/A1/" + i)
print(paths)

['/bin/A1/sample_file_6.csv', '/bin/A1/sample_file_1.csv', '/bin/A1/sample_file_7.csv', '/bin/A1/sample_file_8.csv', '/bin/A1/combined_csv.csv', '/bin/A1/sample_file_9.csv', '/bin/A1/sample_file_4.csv', '/bin/A1/sample_file_3.csv', '/bin/A1/sample_file_2.csv', '/bin/A1/sample_file_5.csv']

In [ ]:
combined_csv=pd.concat(pd.read_csv(f) for f in paths)
print(combined_csv.head(10))

          0         1         2  ...        17        18        19
0  0.702566  0.092336  0.245083  ...  0.886644  0.472826  0.551858
1  0.177005  0.649551  0.467321  ...  0.773155  0.485385  0.686294
2  0.689556  0.445586  0.005691  ...  0.302786  0.051382  0.203699
3  0.047188  0.854596  0.833368  ...  0.183948  0.372739  0.739383
4  0.936065  0.725831  0.184239  ...  0.538712  0.885516  0.667051
0  0.276827  0.260054  0.942397  ...  0.069162  0.952291  0.286542
1  0.995885  0.158381  0.244274  ...  0.232135  0.549324  0.572232
2  0.641917  0.821055  0.392437  ...  0.430411  0.531757  0.489528
3  0.806532  0.569258  0.148175  ...  0.402791  0.685976  0.246594
4  0.311185  0.501165  0.365979  ...  0.229109  0.022881  0.479022

[10 rows x 20 columns]

### 8. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [ ]:
combined_csv=pd.concat(pd.read_csv(f) for f in paths)
  for i in range (20):
    print(combined_csv[str(i).median()])

IndentationError: ignored

### 9. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

### 10. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.